.movieCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
    border-bottom: 1px solid grey;
}
.movieCard:hover{
    opacity: 0.6;
    transform: translateY(-30px);
    transition: 0.7s;
}
.movieImage{
    border-radius: 15px;
}
@media(max-width:560px){
    .movieImage{
        width: 80%;
        height: 70vh;
    }
}